<div class="app-work">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section_title text-center">
                        <h3>recent work</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                    </div>
                </div>
            </div>
            <div class="content-tab mt-3">
                <div class="align-items-center d-md-flex justify-content-center text-center">
                    <div class="portfolio_btn text-center">
                        <ul class="portfolio-filter">
                            <li class="filter active" data-filter="*">ALL</li>
                            <li class="filter" data-filter=".ill">design</li>
                            <li class="filter" data-filter=".brand">developement</li>
                            <li class="filter" data-filter=".fs">photography</li>
                            <li class="filter" data-filter=".an">animation</li>
                        </ul>
                    </div>
                </div>
                <div class="galary_item"
                    style="position: relative;height: 780px; transition: height 250ms ease-out 0s;">
                    <!-- portfolio singal item -->
                    <div class="col-md-4 col-sm-6 col-lg-4 col-xs-12 ill singal_item nopading"
                        style="position: absolute; left: 0px; top: 0px;">
                        <div class="singal-galary">
                            <img class="img-responsive" width="100%" src="../../../../assets/img/work-1.jpg" alt="">
                            <div class="work_hover">
                                <a data-fancybox='gallery' href="../../../../assets/img/work-1.jpg">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </a>
                                <!-- <a href="../../../../assets/img/work-1.jpg" data-lightbox="imran"
                                    data-title="heare you can add your portfolio image title simple this is image 1"><i
                                        class="fa fa-search" aria-hidden="true"></i></a> -->
                            </div>
                        </div>
                    </div>
                    <!-- portfolio singal item -->
                    <div class="col-md-4 col-sm-6 col-lg-4 col-xs-12 brand singal_item nopading"
                        style="position: absolute; left: 390px; top: 0px;">
                        <div class="singal-galary">
                            <img class="img-responsive" width="100%" src="../../../../assets/img/work-2.jpg" alt="">
                            <div class="work_hover">
                                <a data-fancybox='gallery' href="../../../../assets/img/work-2.jpg">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- portfolio singal item -->
                    <div class="col-md-4 col-sm-6 col-lg-4 col-xs-12 fs singal_item nopading"
                        style="position: absolute; left: 780px; top: 0px;">
                        <div class="singal-galary">
                            <img class="img-responsive" width="100%" src="../../../../assets/img/work-3.jpg" alt="">
                            <div class="work_hover">
                                <a data-fancybox='gallery' href="../../../../assets/img/work-3.jpg">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- portfolio singal item -->
                    <div class="col-md-4 col-sm-6 col-lg-4 col-xs-12 brand singal_item nopading"
                        style="position: absolute; left: 0px; top: 260px;">
                        <div class="singal-galary">
                            <img class="img-responsive" width="100%" src="../../../../assets/img/work-4.jpg" alt="">
                            <div class="work_hover">
                                <a data-fancybox='gallery' href="../../../../assets/img/work-4.jpg">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- portfolio singal item -->
                    <div class="col-md-4 col-sm-6 col-lg-4 col-xs-12 fs singal_item nopading"
                        style="position: absolute; left: 390px; top: 260px;">
                        <div class="singal-galary">
                            <img class="img-responsive" width="100%" src="../../../../assets/img/work-5.jpg" alt="">
                            <div class="work_hover">
                                <a data-fancybox='gallery' href="../../../../assets/img/work-5.jpg">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- portfolio singal item -->
                    <div class="col-md-4 col-sm-6 col-lg-4 col-sm-6 col-xs-12 an singal_item nopading"
                        style="position: absolute; left: 780px; top: 260px;">
                        <div class="singal-galary">
                            <img class="img-responsive" width="100%" src="../../../../assets/img/work-6.jpg" alt="">
                            <div class="work_hover">
                                <a data-fancybox='gallery' href="../../../../assets/img/work-6.jpg">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- portfolio singal item -->
                    <div class="col-md-4 col-sm-6 col-lg-4 col-sm-6 col-xs-12 ill singal_item nopading"
                        style="position: absolute; left: 0px; top: 520px;">
                        <div class="singal-galary">
                            <img class="img-responsive" width="100%" src="../../../../assets/img/work-7.jpg" alt="">
                            <div class="work_hover">
                                <a data-fancybox='gallery' href="../../../../assets/img/work-7.jpg">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- portfolio singal item -->
                    <div class="col-md-4 col-sm-6 col-lg-4 col-sm-6 col-xs-12 an singal_item nopading"
                        style="position: absolute; left: 390px; top: 520px;">
                        <div class="singal-galary">
                            <img class="img-responsive" width="100%" src="../../../../assets/img/work-8.jpg" alt="">
                            <div class="work_hover">
                                <a data-fancybox='gallery' href="../../../../assets/img/work-8.jpg">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- portfolio singal item -->
                    <div class="col-md-4 col-sm-6 col-lg-4 col-sm-6 col-xs-12 ill singal_item nopading hide_sm"
                        style="position: absolute; left: 780px; top: 520px;">
                        <div class="singal-galary">
                            <img class="img-responsive" width="100%" src="../../../../assets/img/work-9.jpg" alt="">
                            <div class="work_hover">
                                <a data-fancybox='gallery' href="../../../../assets/img/work-9.jpg">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>