<div class="app-login">
    <div class="container-main">
        <div class="bg container-fluid">
            <div class="row mt-2">
                <div class="col-lg-4 col-md-5 col-12 offset-lg-1 offset-md-6">
                    <div class="login mt-5">
                        <div class="card-block text-white" (click)="signInWithGoogle()" style="background-color: #dc4d28;">
                            <div class="icon text-center"><i class="fab fa-google-plus-g"></i></div>
                            <div class="title text-center"><span>Google</span></div>
                        </div>
                        <div class="card-block mt-2 text-white" (click)="signInWithFB()" style="background-color: #3b5998;">
                            <div class="icon text-center"><i class="fab fa-facebook-f"></i></div>
                            <div class="title text-center"><span>Facebook</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>